---
import Layout from '../layouts/Layout.astro'
---

<div>
  <Layout title='Hero'>
    <main>
      <p>Hola</p>
      <p>
        The <a href='https://myanimelist.net'>MyAnimeList</a> website is a great resource for finding new anime to watch. It has a lot of features, but there are some things that I
        wish it had. This website is my attempt to add those features.

        <br /><br />

        The <a href='https://myanimelist.net'>MyAnimeList</a> website is a great resource for finding new anime to watch. It has a lot of features, but there are some things that I
        wish it had. This website is my attempt to add those features.

        <br /><br />

        The <a href='https://myanimelist.net'>MyAnimeList</a> website is a great resource for finding new anime to watch. It has a lot of features, but there are some things that I
        wish it had. This website is my attempt to add those features.

        <br /><br />

        The <a href='https://myanimelist.net'>MyAnimeList</a> website is a great resource for finding new anime to watch. It has a lot of features, but there are some things that I
        wish it had.

        <br /><br />

        This website is my attempt to add those features. The
        <a href='https://myanimelist.net'>MyAnimeList</a> website is a great resource for finding new anime to watch. It has a lot of features, but there are some things that I wish
        it had.

        <br /><br />

        This website is my attempt to add those features. The <a href='https://myanimelist.net'>MyAnimeList</a> website is a great resource for finding new anime to watch. It has a
        lot of features, but there are some things that I wish it had. This website is my attempt to add those features.

        <br /><br />

        The <a href='https://myanimelist.net'>MyAnimeList</a> website is a great resource for finding new anime to watch. It has a lot of features, but there are some things that I
        wish it had. This website is my attempt to add those features.
      </p>
      <p>
        The <a href='https://myanimelist.net'>MyAnimeList</a> website is a great resource for finding new anime to watch. It has a lot of features, but there are some things that I
        wish it had. This website is my attempt to add those features.

        <br /><br />

        The <a href='https://myanimelist.net'>MyAnimeList</a> website is a great resource for finding new anime to watch. It has a lot of features, but there are some things that I
        wish it had. This website is my attempt to add those features.

        <br /><br />

        The <a href='https://myanimelist.net'>MyAnimeList</a> website is a great resource for finding new anime to watch. It has a lot of features, but there are some things that I
        wish it had. This website is my attempt to add those features.

        <br /><br />

        The <a href='https://myanimelist.net'>MyAnimeList</a> website is a great resource for finding new anime to watch. It has a lot of features, but there are some things that I
        wish it had.

        <br /><br />

        This website is my attempt to add those features. The
        <a href='https://myanimelist.net'>MyAnimeList</a> website is a great resource for finding new anime to watch. It has a lot of features, but there are some things that I wish
        it had.

        <br /><br />

        This website is my attempt to add those features. The <a href='https://myanimelist.net'>MyAnimeList</a> website is a great resource for finding new anime to watch. It has a
        lot of features, but there are some things that I wish it had. This website is my attempt to add those features.

        <br /><br />

        The <a href='https://myanimelist.net'>MyAnimeList</a> website is a great resource for finding new anime to watch. It has a lot of features, but there are some things that I
        wish it had. This website is my attempt to add those features.
      </p>
    </main>
  </Layout>
</div>
