---
import Header from '../components/Header.astro'
import Layout from '../layouts/Layout.astro'
import SeasonAnimes from '../components/SeasonAnimes.astro'
---

<Layout title='MyAnimuList'>
  <Header />
  <main>
    <a href='/hero'>Go to hero page</a>
    <!-- <div transition:name='hero'>
      <p>Hola mundo</p>
      <button id='btn-hero'>Go to hero page</button>
    </div> -->
    <SeasonAnimes />
    <p>
      The <a href='https://myanimelist.net'>MyAnimeList</a> website is a great resource for finding new anime to watch. It has a lot of features, but there are some things that I wish
      it had. This website is my attempt to add those features.

      <br /><br />

      The <a href='https://myanimelist.net'>MyAnimeList</a> website is a great resource for finding new anime to watch. It has a lot of features, but there are some things that I wish
      it had. This website is my attempt to add those features.

      <br /><br />

      The <a href='https://myanimelist.net'>MyAnimeList</a> website is a great resource for finding new anime to watch. It has a lot of features, but there are some things that I wish
      it had. This website is my attempt to add those features.

      <br /><br />

      The <a href='https://myanimelist.net'>MyAnimeList</a> website is a great resource for finding new anime to watch. It has a lot of features, but there are some things that I wish
      it had.

      <br /><br />

      This website is my attempt to add those features. The
      <a href='https://myanimelist.net'>MyAnimeList</a> website is a great resource for finding new anime to watch. It has a lot of features, but there are some things that I wish it
      had.

      <br /><br />

      This website is my attempt to add those features. The <a href='https://myanimelist.net'>MyAnimeList</a> website is a great resource for finding new anime to watch. It has a lot
      of features, but there are some things that I wish it had. This website is my attempt to add those features.

      <br /><br />

      The <a href='https://myanimelist.net'>MyAnimeList</a> website is a great resource for finding new anime to watch. It has a lot of features, but there are some things that I wish
      it had. This website is my attempt to add those features.
    </p>
  </main>
</Layout>

<style>
  main {
    color: white;
    font-size: 20px;
    padding: 4px;
  }
  a {
    color: white;
  }
</style>

<!-- <script>
  import { navigate } from 'astro:transitions/client'

  const button = document.getElementById('btn-hero')
  button!.addEventListener('click', () => {
    navigate('/hero')
  })
</script> -->
