---
import Header from '../components/Header.astro'
import Layout from '../layouts/Layout.astro'
import SeasonAnimes from '../components/SeasonAnimes.astro'
---

<Layout title='MyAnimuList'>
  <Header />
  <main>
    <SeasonAnimes />
  </main>
</Layout>

<style>
  main {
    color: white;
    font-size: 20px;
    padding: 4px;
  }
  a {
    color: white;
  }
</style>
