<header>
  <a href='/'>MyAnimuList</a>
</header>

<style>
  header {
    display: flex;
    padding: 12px 18px;
    justify-content: start;
    align-items: center;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
  }

  header a {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
</style>
