---
import Logo from './Logo.astro'
---

<header>
  <a href='/'><Logo /></a>
</header>

<style>
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 24px 0px;
  }

  a {
    width: 20em;
    color: #252738;

    &:hover {
      color: #00010a;
    }
  }
</style>
