---
import IconList from './icons/IconList.astro'
---

<section class='container'>
  <a href='/favourites'>
    <IconList />
  </a>
</section>

<style>
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
